@media only screen and (min-width: 650px) {

	div.photo-grid {
		box-sizing: border-box;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}

	div.photo-cell {
		box-sizing: border-box;
		width: 100%;
		height: auto;
  		box-shadow: 0px 0px 10px rgba(141, 141, 139, .75);
	}
	div.photo-cell-vertical {
		box-sizing: border-box;
		width: 50%;
		height: auto;
  		box-shadow: 0px 0px 10px rgba(141, 141, 139, .75);
	}
}
@media only screen and (min-width: 1000px) {
	div.photo-grid {
		box-sizing: border-box;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}

	div.photo-cell {
		box-sizing: border-box;
		width: 50%;
		height: auto;
  		box-shadow: 0px 0px 10px rgba(141, 141, 139, .75);
  	}
	div.photo-cell-vertical {
		box-sizing: border-box;
		width: 25%;
		height: auto;
  		box-shadow: 0px 0px 10px rgba(141, 141, 139, .75);

	}
}