/* GENERAL APPEARANCE */
html, body, h1, form, fieldset, legend, ol, li {
	margin: auto;
	padding: 0;
}
body {
	background: #ffffff;
	color: #111111;
	font-family: Helvetica, Times, serif;
	padding: .5%;
}

h2 {
	margin: 30px;
	text-align: center;
}

h4 {
	text-align: center;
	color: blue;
	text-transform: uppercase;
}

legend {
	font-weight: bold;
	padding: 10px;
}

form{
	background: #ffba19;
	-moz-border-radius: 2%;
	-webkit-border-radius: 2%;
	border-radius: 2%;
	padding: 2%;
	width: 50%;
}

fieldset {
	border-color: blue;
}

label {
	display: block;
	padding: .05%;
}

#addDegree, #addWork, #submit {
	display: block;
	margin: auto;
	border-color: blue;
}

/*Add a counter to the elements */
form{
	counter-reset: fieldsets;
}

form > fieldset > legend:before {
	content: "Step " counter(fieldsets) ": ";
	counter-increment: fieldsets;
}

/*payment formatting */
form fieldset fieldset label {
	background:none no-repeat left 50%;
	line-height: 20px;
	padding: 0 0 0 30px;
	width: auto;
}


@media only screen and (max-width: 600px) {
	body {
		width: 100vw;
	}
}

@media only screen and (min-width: 601) {
	body{
		width: 75vw;
	}
}