* {
	margin: 0px;
	padding: 0px;

}

body {
	background-image: url("../images/circles-light/circles-light.png");
}

img {
	display: inline-block;
	border: 5px solid blue;
	padding: 5%;
	width: 50vw;
	margin: 0 auto;
	box-sizing: border-box;
}


