* {
	padding: 0;
	margin: 0;
}

body, h1, p, a {
	font-family: "Arvo", serif;
}

h1 {
	letter-spacing: 1px;
}

p {
	width: 90vw;
	margin: auto;
}

/*nav styling*/

.top-nav {
	height: auto;
	min-height: 5vh;
	width: 100vw;
	background-color: #1b1b1b;
	background-image: url("data:image/svg+xml,%3Csvg width='84' height='48' viewBox='0 0 84 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h12v6H0V0zm28 8h12v6H28V8zm14-8h12v6H42V0zm14 0h12v6H56V0zm0 8h12v6H56V8zM42 8h12v6H42V8zm0 16h12v6H42v-6zm14-8h12v6H56v-6zm14 0h12v6H70v-6zm0-16h12v6H70V0zM28 32h12v6H28v-6zM14 16h12v6H14v-6zM0 24h12v6H0v-6zm0 8h12v6H0v-6zm14 0h12v6H14v-6zm14 8h12v6H28v-6zm-14 0h12v6H14v-6zm28 0h12v6H42v-6zm14-8h12v6H56v-6zm0-8h12v6H56v-6zm14 8h12v6H70v-6zm0 8h12v6H70v-6zM14 24h12v6H14v-6zm14-8h12v6H28v-6zM14 8h12v6H14V8zM0 8h12v6H0V8z' fill='%23000000' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
/*	opacity: .1;
*/}

.list-items {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
}

.nav-element {
	width: 20vw;
	display: inline-block;
	text-align: center;
	margin-bottom: .5vh;
	margin-right: 5vw;
	margin-left: 5vw;
}

.nav-element a {
	font-size: medium;
	color: white;
	text-decoration: none;
}

/*styling of the content element inspired by an in class exercise*/
.nav-self a {
	color: FireBrick;
}

.nav-self:before {
  	content: "\2605  ";
	color: FireBrick;
}

/*styling main sections of pages*/
/*main page specific*/
.grid-items {
	height: 90vh;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr;
}

/*about page specific*/
.about-body {
	height: auto;
}

.about-body h1 {
	text-align: center;
	padding-top: 1em;
	padding-bottom: 1em;
}

/*main page specific*/

.big-pic {
	background-image: url("../img/shoes.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right top;
	grid-column-start: 1;
	grid-column-end: auto;
	grid-row-start: 1;
	grid-row-end: span 1;
	opacity: .8;
}

.big-pic h1 {
	color: white;
	font-size: 3em;
	text-align: center;
	padding-top: 1em;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	box-sizing: border-box;
}

/*hiding elements only there for tablet view*/

.other-librarian-photos {
	display: none;
}

.main-page-photos {
	display: none;
}

.other-librarian {
	display: hidden;
}

.librarian-link {
	display: flex;
	width: 100vw;
	height: 15vh;
	align-items: center;
	justify-content: center;
}

.librarian-link a {
	color: black;
	text-decoration: none;
	font-size: large;
}

footer {
	height: auto;
	min-height: 5vh;
	width: 100vw;
	background-color: #1b1b1b;
	background-image: url("data:image/svg+xml,%3Csvg width='84' height='48' viewBox='0 0 84 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h12v6H0V0zm28 8h12v6H28V8zm14-8h12v6H42V0zm14 0h12v6H56V0zm0 8h12v6H56V8zM42 8h12v6H42V8zm0 16h12v6H42v-6zm14-8h12v6H56v-6zm14 0h12v6H70v-6zm0-16h12v6H70V0zM28 32h12v6H28v-6zM14 16h12v6H14v-6zM0 24h12v6H0v-6zm0 8h12v6H0v-6zm14 0h12v6H14v-6zm14 8h12v6H28v-6zm-14 0h12v6H14v-6zm28 0h12v6H42v-6zm14-8h12v6H56v-6zm0-8h12v6H56v-6zm14 8h12v6H70v-6zm0 8h12v6H70v-6zM14 24h12v6H14v-6zm14-8h12v6H28v-6zM14 8h12v6H14V8zM0 8h12v6H0V8z' fill='%23000000' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
	position: static;
	bottom: 0;
}

.fab, footer p {
	color: white;
	height: auto;
	margin: auto;
	text-align: center;
}

.social-links {
	display: flex;
	width: 100vw;
	align-items: center;
	justify-content: center;
}

.fab {
	margin-left: 1em;
	margin-right: 1em;
}

.current-img {
	width: 100vw;
	height: 40vh;
	object-fit: cover;
}

.librarian-name {
	text-align: center;
	padding-top: 1vh;
	padding-bottom: 1vh;
	box-sizing: border-box;
}

.other-librarian-images {
	display: none;
}

.other-librarian-links {
	padding-top: 2vh;
}

.other-librarian-links a {
	display: block;
	color: black;
	text-decoration: none;
	text-align: center;
	padding-bottom: 1vh;
	font-size: large;
}

.other-librarian-links a:before {
	content: "\27A3  ";
}

/*changes to put elements in focus for accessibility*/

	

.nav-element a:focus, .nav-element a:hover, .librarian-link a:focus, .librarian-link a:hover, .other-librarian-links a:hover, .other-librarian-links a:focus {
	color: DarkCyan;
	outline: none;
}

.nav-self a:hover:before, .nav-self a:focus:before {
	content: none;
}

.nav-element a:focus:before, .nav-element a:hover:before, .librarian-link a:focus:before, .librarian-link a:hover:before, .other-librarian-links a:hover:before, .other-librarian-links a:focus:before {
  	content: "\2606  ";
	color: DarkCyan;
	box-sizing: border-box;	
}

/*taken from w3 schools website*/ 
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.social-links a:focus .fab, .social-links a:hover .fab {
	outline: none;
	color: DarkCyan;
	animation: shake .75s;
}

.librarian-photo:hover img, .librarian-photo:focus img, .other-librarian-photo:hover img, .other-librarian-photo:focus img {
	width: 27vw;
	height: auto;
	outline: none;
	position: relative;
	right: 1vw;
	bottom: 1vh;
}

.librarian-photo:hover, .librarian-photo:focus, .other-librarian-photo:hover, .other-librarian-photo:focus, .social-links a:focus, .social-links a:hover {
	outline: none;
}

/*decoration*/

.book-photo {
	display: none;
}

/*changes for medium screens*/
@media only screen and (min-width: 650px) {
	.grid-items {
		height: 90vh;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
	}

	.nav-element a {
		padding-bottom: .5vh;
		padding-top: .5vh;
	}

	.big-pic {
		grid-column-start: 1;
		grid-column-end: auto;
		grid-row-start: 1;
		grid-row-end: auto;
	}

	.big-pic h1 {
		color: white;
		font-size: 4em;
	}

	.main-page-links {
		display: none;
	}

	.main-page-photos {
		grid-column-start: 1;
		grid-column-end: auto;
		grid-row-start: 2;
		grid-row-end: auto;
		display: flex;
		width: 100vw;
		height: 45vh;
		align-items: center;
		justify-content: center;
	}

	figure {
		width: 25vw;
		height: 25vh;
		margin: 2em;
		box-sizing: border-box;
	}

	figcaption {
		text-align: center;
	}

	.librarian-photo {
		width: 25vw;
		height: auto;
	}

	.librarian-photo img {
		height: auto;
		width: 100%;
	}

	.current-img {
		display: inline-block;
		height: 40vh;
		width: auto;
		padding-top: 5vh;
		padding-left: 5vh;
	}

	.librarian-name {
		display: inline-block;
		position: relative;
		bottom: 18vh;
		left: 3vw;
		padding: 0px;
	}

	.first {
		padding-top: 1vh;
	}

	.other-librarian-links {
		display: none
	}

	.other-librarian-images {
		padding-top: 2vh;
		width: 100vw;
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		padding-bottom: 2vh;
		box-sizing: border-box;
	}

	.other-librarian-photo, .other-librarian-photo img {
		width: 25vw;
		height: auto;
	}

	.other-librarian-photo {
		margin-right: 5vh;
	}

	.librarian-caption {
		text-align: center;
	}

}

/*changes for large screens*/
@media only screen and (min-width: 1000px) {

	.grid-items {
		height: 95vh;
/*		overflow: hidden;
*/		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr;
	}

	/*placing things in the grid*/

	.main-page-photos {
		display: none;
	}

	.main-page-links {
		display: grid;
		grid-column-start: 1;
		grid-column-end: auto;
		grid-row-start: 2;
		grid-row-end: auto;
	}

	.book-photo {
		background-image: url("../img/book-icon.png");
		background-size: contain;
		background-repeat: no-repeat;
		display: grid;
		width: 23vw;
		height: 20vh;
		grid-column-start: 1;
		grid-column-end: auto;
		grid-row-start: 2;
		grid-row-end: auto;
		position: relative;
		bottom: 15vh;
		left: 2vw;
		box-sizing: border-box;
	}

	.big-pic {
		background-image: url("../img/shoes.jpg");
		grid-column-start: 2;
		grid-column-end: span 3;
		grid-row-start: 1;
		grid-row-end: span 2;
		border-left: 1px solid black;
	}

	header {
		width: 25vw;
		grid-column-start: 1;
		grid-column-end: auto;
		grid-row-start: 1;
		grid-row-end: auto;
		text-align: center;
	}

	.top-nav {
		width: 25vw;
		height: 0vh;
		min-height:0vh;
		background-color: white;
	}

	.nav-element {
		display: inline-block;
		width: 25vw;
		height: 5vh;
		text-align: center;
		justify-content: center;
	}

	.nav-element a {
		text-align: center;
	}

	.list-items {
		padding-top: 10vh;
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: center;
	}

	/*changing slightly for librarian pages*/

	.list-items-lib {
		width: 35vw;
		padding-top: 2vh;
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: center;
		box-sizing: border-box;
	}

	.narrow {
		display: inline-block;
		height: 4vh;
		width: 35vw;
		padding: 0;
		box-sizing: border-box;
	}

	.nav-element a {
		color: black;
		text-decoration: none;
		font-size: large;
		padding-left: 0vw;
		padding-right: 0vw;
	}

	.nav-self a {
		color: FireBrick;
	}

	.big-pic h1 {
		font-size: 6em;
	}

	.main-page-links {
		height: 20vh;
		width: 25vw;
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: center;
		padding-top: 10vh;
	}

	.librarian-link {
		display: flex;
		width: 22	vw;
		height: 5vh;
		align-items: center;
		justify-content: center;
		box-sizing: border-box;
	}

	/*for librarian pages*/

	.librarian-page {
		width: 100vw;
		height: 95vh;
		overflow: hidden;
	}

	.current-img {
		display: inline-block;
		height: 95vh;
		width: 65vw;
		padding: 0px;
		position: relative;
		left: 35vw;
		overflow: hidden;
		box-sizing: border-box;
		opacity: .9;
	}

	.librarian-name {
		display: inline-block;
		width: 35vw;
		height: 10vh;
		position: relative;
		bottom: 78vh;
		left: 0;
		box-sizing: border-box;
	}

	.librarian-text {
		height: 0vh;
	}

	.librarian-text p {
		display: inline-block;
		width: 35vw;
		box-sizing: border-box;
		padding-left: 2vw;
		padding-right: 2vw;
		padding-bottom: 2vh;
		position: relative;
		bottom: 80vh;
	}

	.other-librarian-images {
		display: none;
	}

	.other-librarian-links {
		display: inline-block;
		box-sizing: border-box;
		position: relative;
		height: 0vh;
		width: 35vw;
		margin: auto;
		bottom: 25vh;
	}

	/*for about pages*/

	.about-body {
		height: 95vh;
		width: 100vw;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr;
	}

	.about-headers {
		grid-column-start: 2;
		grid-column-end: auto;
		grid-row-start: 1;
		grid-row-end: auto;
		width: 50vw;
		margin: auto;
		text-align: center;
		font-size: 6em;
		padding-left: 3em;
		box-sizing: border-box;
		color: DarkCyan;
	}

	.about-text {
		grid-column-start: 2;
		grid-column-end: span 3;
		grid-row-start: 2;
		grid-row-end: auto;
		width: 75vw;
	}

	.about-text p {
		width: 75vw;
		padding-right: 5vw;
		font-size: large;
		box-sizing: border-box;
	}
}
